body, .jumbotron {
    font-family: "Open Sans", "sans-serif";
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}




/* body {
    
    background-image: linear-gradient(to bottom, #5637dd, #3046c5, #60106b);
} */

h1,
h2,
h3 {
    font-family: "Lobster", cursive;
}

h2 {
    color: #3046c5;
}

header h2 {
    color: #cec8ff;
}

.site-footer {
    background-image: linear-gradient(#cec8ff, white);
    padding: 20px 0;
}

.jumbotron {
    padding: 30px;
    background-image: linear-gradient(to right, #5637dd, #3046c5, #60106b);
    color: white;
    margin: 0;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar-dark {
    background: rgba(0, 10, 25, .75);
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1em;
    
    
}
.carousel {
    border: solid  #5637dd;
}